<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>会社概要</title>
</head>
<body>
  <h1>会社概要</h1>  
  <nav>
    <div>
      <img src="" alt="">
      <!-- ロゴ入れる -->
    </div>
    <div>
      <input type="search" name="search" placeholder="キーワード入力">
    </div>
    <div>
      <button>ログイン</button>
      <button>サインアップ</button>
    </div>
  </nav>

  <main>

  </main>

  <footer>
    <small>© 2023 samurai kadai_002. </small>
  </footer>

</body>
</html>