{% extends 'base.html' %}

{% block title %}会社概要{% endblock %}

{% block content %}
<h1>会社概要</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>会社名</th>
      <th>{{ company_overview.name }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>住所</td>
      <td>{{ company_overview.zip_code }}</td>
      <td>{{ company_overview.address }}</td>
    </tr>
    <tr>
      <td>代表取締役</td>
      <td>{{ company_overview.management }}</td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td>{{ company_overview.phone }}</td>
    </tr>
    <tr>
      <td>資本金</td>
      <td>{{ company_overview.capital }}</td>
    </tr>
    <tr>
      <td>事業内容</td>
      <td>{{ company_overview.service_overview }}</td>
    </tr>
    <tr>
      <td>従業員数</td>
      <td>{{ company_overview.number_of_employees }}</td>
    </tr>
    <tr>
      <td>設立</td>
      <td>{{ company_overview.date_established }}</td>
    </tr>
  </tbody>
</table>

<a href="{% url 'top' %}">戻る</a>

{% endblock %}
