{% extends 'base.html' %}

{% block title %}ホーム{% endblock %}
{% block content %}


<h1>飲食店一覧</h1>
<table>
    <thead>
        <tr>
          <th>写真</th>
          <th>店名</th>
          <th>電話番号</th>
        </tr>
    </thead>
    {% for restaurant in object_list %}
      <tr>
          <td>
              {% if restaurant.id in restaurant_images.keys() %}
                  <img src="{ restaurant_images[restaurant.id] }" alt="Restaurant Image">
              {% endif %}
          </td>
          <td>{{ restaurant.name }}</td>
          <td>{{ restaurant.phone }}</td>
          <!-- 他のレストラン情報を追加 -->
      </tr>
    {% endfor %}
</table>

{% endblock %}